* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: "Mulish", "Times New Roman", sans-serif;
}


/*Colors*/

:root {
  --black: #50514F;
  --off-white: #CBD4C2;
  --blue: #247BA0;
  --white: #FFFCFF;
  --celadon: #C3B299;
}

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  padding: 16px 40px;
  background-color: var(--blue);
}

header img {
  filter: invert(81%) sepia(23%) saturate(42%) hue-rotate(248deg) brightness(109%) contrast(116%);
}

header img:hover {
  filter: invert(100%) sepia(2%) saturate(6153%) hue-rotate(30deg) brightness(87%) contrast(86%);
  cursor: pointer;
}

header ul {
  list-style: none;
  display: flex;
  gap: 12px;
}

h1 {
  font-size: 40px;
}

li a {
  text-decoration: none;
  color: var(--white);
}

li a:hover {
  cursor: pointer;
  color: var(--off-white);
}

header h3 {
  color: var(--white);
}

h1, h2, p {
  color: var(--black);
}


/*main*/

main {
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1, h2 {
  margin: 40px 100px;
}

.first-para {
  display: flex;
  flex-direction: row-reverse;
  margin: 40px 100px;
  gap: 16px;
  flex-wrap: wrap;
}

.first-para div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  flex: 1 1 auto;
}

.first-para img {
  flex: 1 2 auto;
}

.second-para {
  display: flex;
  margin: 40px 100px;
  gap: 16px;
  flex-wrap: wrap;
}

.second-para img {
  object-fit: cover;
  flex: 0 0 auto;
  max-width: 300px;
  height: auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list ol {
  margin: 30px;
}

.third-para {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  gap: 40px;
}

button {
  padding: 12px;
  background-color: var(--black);
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  width: 200px;
  align-self: center;
  border: none;
  border-radius: 8px;
  margin-bottom: 32px;
}

button:hover {
  cursor: pointer;
  background-color: var(--blue);
}
/*footer*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  gap: 24px;
  background-color: var(--off-white);
}

footer a img {
  background-color: var(--white);
  border-radius: 50%;
}

footer a img:hover {
  background-color: var(--blue);
}
