* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: "Mulish", "Times New Roman", sans-serif;
}


/*Colors*/

:root {
  --black: #040403;
  --mud-green: #5B7553;
  --blue-green: #8EB897;
  --tee: #C3E8BD;
  --celadon: #9DDBAD;
}

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--celadon);
  color: var(--mud-green)
}

header ul {
  list-style: none;
  display: flex;
  gap: 12px;
}

li a {
  text-decoration: none;
}
