* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: "Mulish", "Times New Roman", sans-serif;
}


/*Colors*/

:root {
  --black: #50514F;
  --off-white: #CBD4C2;
  --blue: #247BA0;
  --white: #FFFCFF;
  --celadon: #C3B299;
}

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--blue);
}

header ul {
  list-style: none;
  display: flex;
  gap: 12px;
}

li a {
  text-decoration: none;
  color: var(--white);
}

header h3 {
  color: var(--white);
}

h1, h2, p {
  color: var(--black);
}


/*main*/

main {
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1, h2 {
  margin: 40px 100px;
}

.first-para {
  display: flex;
  flex-direction: row-reverse;
  margin: 40px 100px;
  gap: 16px;
}

.first-para div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.second-para {
  display: flex;
  margin: 40px 100px;
  gap: 16px;
  justify-content: flex-start;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list ol {
  margin: 30px;
}

.third-para {
  display: flex;
  flex-direction: column;
  margin: 40px 100px;
  gap: 40px;
}

button {
  padding: 12px;
  background-color: var(--black);
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  width: 200px;
  align-self: center;
  border: none;
  border-radius: 8px;
  margin-bottom: 32px;
}
/*footer*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  gap: 24px;
  background-color: var(--off-white);
}
